[gerrit]
    basePath = git
    canonicalWebUrl = http://localhost:10001
    serverId = 55555555-5555-5555-5555-5555555555555
[container]
    javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
    javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
    user = gerrit
    javaHome = /usr/lib/jvm/java-11-openjdk-11.0.13.0.8-3.el8_5.x86_64
    javaOptions = -Djava.security.egd=file:/dev/./urandom
    javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
    javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
[index]
    type = lucene
[auth]
    type = oauth
    gitBasicAuthPolicy = HTTP
[receive]
    enableSignedPush = false
[sendemail]
    smtpServer = localhost
[sshd]
    listenAddress = *:29418
[httpd]
    listenUrl = http://*:8080/
[cache]
    directory = cache
[plugin "gerrit-oauth-provider-github-oauth"]
    fix-legacy-user-id = true
[plugins]
    allowRemoteAdmin = true
