#!/bin/bash

# If this doesn't exist, we'll only have the basic "linux" repository
if [ -f /etc/os-release ]; then
    . /etc/os-release
fi

# Download the latest .list files for the "linux" repository and any
# distro-specific repository. If none exists, this will silently exit
# without raising any error and without writing anything to the output
# file, which is what we want.
cd /etc/apt/sources.list.d
curl --fail --silent -o couchbase-{{ target }}-linux.list \
    {{ transport }}://{{ bucket }}/{{ prefix }}/couchbase-{{ target }}-linux.list || true
curl --fail --silent -o couchbase-{{ target }}-distro.list \
    {{ transport }}://{{ bucket }}/{{ prefix }}/couchbase-{{ target }}-${VERSION_CODENAME}.list || true

# Alert user if *nothing* was downloaded.
if [ ! -f couchbase-{{ target }}-linux.list -a ! -f couchbase-{{ target }}-distro.list ]; then
    echo
    echo
    echo "WARNING: No Couchbase repositories found for ${VERSION_CODENAME}!"
    echo "You will not be able to install any Couchbase packages via 'apt'."
    echo
fi
