[Unit]
Description=Process exporter exporting Prometheus metrics for processes running on this node
After=network.target
 
[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/ec2-user
# We include --threads=false as without it the amount of metrics increases
# drastically and there is a concern that the CP could not handle the extra
# volume of metrics. Only remove with sufficient load testing.
ExecStart=/usr/bin/process-exporter \
                --procnames=data-api \
                --web.listen-address=:12005 \
                --threads=false

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/process-exporter
ExecStartPre=/usr/bin/chmod 755 /var/log/process-exporter
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=process-exporter
 
[Install]
WantedBy=graphical.target
