
Origin: couchbase
SignWith: ${key}
Suite: ${distro}
Codename: ${distro}
Version: ${version}
Components: ${distro}/${repo_class}
Architectures: amd64 source
Description: Couchbase ${edition_name} Repository
