
Origin: couchbase
SignWith: ${key}
Suite: ${distro}
Codename: ${distro}
Version: ${version}
Components: ${distro}/${repo_class}
Architectures: ${platforms}
Description: ${product_line} ${edition_name} Repository
